image: node

before_script:
  - npm install

cache:
  paths:
    - node_modules/
pages:
  stage: deploy
  script:
  - npm run build
  - cp -r ./dist/**/* public
  artifacts:
    paths:
    - public
  only:
  - master
